.mmm_content {
  background-color: #fff;
}
.mmm_content .mmm_topbar {
  background-color: red;
}
.mmm_content .mmm_topbar .mmm_logo1 {
  width: 0.80001rem;
  height: 0.80001rem;
  float: left;
  padding-top: 0.26667rem;
  padding-left: 0.53334rem;
}
.mmm_content .mmm_topbar .mmm_logo1 > a {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_content .mmm_topbar .mmm_logo1 > a > img {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_content .mmm_topbar .mmm_logo_center {
  font-size: 0.53334rem;
  float: left;
}
.mmm_content .mmm_topbar .mmm_logo_center > p {
  color: #fff;
  line-height: 1.33335rem;
  padding-left: 2.13336rem;
}
.mmm_content .mmm_topbar .mmm_app {
  float: right;
}
.kfc_headline > p {
  text-align: center;
  margin-top: 0.26667rem;
  color: #ccc;
  font-size: 0.320004rem;
  margin-bottom: 0.26667rem;
}
.kfc_headline .kfc_particulars {
  border-bottom: 1px solid #ccc;
  padding-top: 0.26667rem;
  padding-left: 0.26667rem;
}
.kfc_headline .kfc_particulars > a {
  display: block;
}
.kfc_headline .kfc_particulars > a .left_img {
  float: left;
  width: 2.6667rem;
  height: 1.86669rem;
  padding-bottom: 1.06668rem;
  margin-right: 0.26667rem;
}
.kfc_headline .kfc_particulars > a .left_img > img {
  display: block;
  width: 100%;
  height: 100%;
}
.kfc_headline .kfc_particulars > a .right_particulars .kfc_details {
  font-weight: 400;
  font-size: 0.373338rem;
  color: #000;
}
.kfc_headline .kfc_particulars > a .right_particulars .kfc_price {
  padding-top: 0.133335rem;
  font-weight: 800;
  color: #000;
  font-size: 0.320004rem;
}
.kfc_headline .kfc_particulars > a .right_particulars .kfc_time {
  padding-top: 0.53334rem;
  color: orange;
  font-size: 0.320004rem;
  padding-bottom: 0.26667rem;
}
html,
body {
  width: 100%;
  height: 100%;
}
.mmm_mengceng {
  display: none;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
  position: relative;
}
.mmm_mengceng > img {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5.3334rem;
}
