* {
  box-sizing: border-box;
}
.mmm_content {
  background-color: #fff;
}
.mmm_topbar .mmm_logo1 {
  width: 1.200015rem;
  height: 1.06668rem;
  float: left;
  padding-top: 0.26667rem;
  padding-left: 0.53334rem;
}
.mmm_topbar .mmm_logo1 > a {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_topbar .mmm_logo1 > a > img {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_topbar .mmm_logo_center {
  font-size: 0.53334rem;
  float: left;
}
.mmm_topbar .mmm_logo_center > p {
  color: #fff;
  line-height: 1.33335rem;
  padding-left: 2.13336rem;
}
.mmm_topbar .mmm_app {
  float: right;
}
.details .prpoduct_details {
  width: 100%;
  padding-left: 0.26667rem;
  background-color: #fff;
  height: 10.40013rem;
}
.details .prpoduct_details .describe {
  padding-top: 0.53334rem;
  font-size: 0.373338rem;
  font-weight: 600;
  width: 95%;
}
.details .prpoduct_details .details_price {
  color: #ff841d;
  padding-top: 0.133335rem;
  font-size: 0.373338rem;
  font-weight: 600;
}
.details .prpoduct_details .time_buying {
  padding-top: 0.26667rem;
  color: #ccc;
}
.details .prpoduct_details .details_describe {
  width: 60%;
  padding-top: 0.26667rem;
  font-size: 0.373338rem;
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.details .prpoduct_details > img {
  display: block;
  width: 60%;
  padding-top: 0.133335rem;
}
.mmp_purchase {
  width: 90%;
  height: 0.80001rem;
  margin: 0.133335rem 0.53334rem;
  border-radius: 0.133335rem;
  background: orange;
}
.mmp_purchase > a {
  width: 100%;
  display: block;
  text-align: center;
  line-height: 0.80001rem;
  color: #fff;
}
.ewm {
  width: 95%;
  margin: 0.80001rem 0.26667rem;
}
.ewm > img {
  display: block;
  width: 100%;
  height: 100%;
}
.tit {
  color: #000;
  font-weight: 600;
  padding-left: 0.26667rem;
  font-size: 0.373338rem;
}
.reply {
  width: 100%;
  height: 2.6667rem;
  padding: 0.26667rem;
  position: relative;
}
.reply .form > textarea {
  width: 95%;
  height: 2.186694rem;
  border-top: 1px solid #ccc;
  outline: none;
}
.reply .ctrl {
  position: absolute;
  right: 0.720009rem;
  bottom: 0.240003rem;
  width: 90%;
  height: 1.06668rem;
  background-color: #fbfbfb;
}
.reply .ctrl > input {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 2.6667rem;
  background-color: #ff841d;
  border: 1px solid #ff841d;
  color: #fff;
  outline: none;
}
#newcomment {
  margin-bottom: 0.53334rem;
}
