.mmm_content .mmm_topbar {
  background-color: orange;
}
.mmm_content .mmm_topbar .mmm_logo1 {
  width: 0.80001rem;
  height: 0.80001rem;
  float: left;
  padding-top: 0.26667rem;
  padding-left: 0.53334rem;
}
.mmm_content .mmm_topbar .mmm_logo1 > a {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_content .mmm_topbar .mmm_logo1 > a > img {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_content .mmm_topbar .mmm_logo_center {
  font-size: 0.53334rem;
  float: left;
}
.mmm_content .mmm_topbar .mmm_logo_center > p {
  color: #fff;
  line-height: 1.33335rem;
  padding-left: 2.6667rem;
}
.mmm_content .mmm_topbar .mmm_app {
  float: right;
}
.nav {
  position: relative;
}
.nav .nav_content > li {
  float: left;
  height: 0.986679rem;
  width: 33.33%;
}
.nav .nav_content > li > a {
  display: block;
  text-align: center;
  line-height: 0.986679rem;
  color: #000;
}
.nav .one_block {
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #ccc;
  display: none;
  position: absolute;
  buttom: 0;
  z-index: 111;
}
.nav .one_block > ul > li {
  height: 0.933345rem;
  line-height: 0.933345rem;
  border-bottom: 1px solid #ccc;
}
.nav .one_block > ul > li > a {
  display: block;
  padding-left: 0.26667rem;
  color: #000;
  font-size: 0.320004rem;
}
.nav .two_block {
  background-color: #fff;
  width: 100%;
  border-top: 1px solid #ccc;
  display: none;
  position: absolute;
  buttom: 0;
  z-index: 11111;
}
.nav .two_block > ul > li {
  height: 0.933345rem;
  line-height: 0.933345rem;
  border-bottom: 1px solid #ccc;
}
.nav .two_block > ul > li > a {
  display: block;
  padding-left: 0.26667rem;
  color: #000;
  font-size: 0.320004rem;
}
.nav .now {
  display: block;
}
.mmp_content > ul > li {
  background-color: #fff;
  float: left;
  width: 47%;
  margin: 0.26667rem 0.133335rem;
}
.mmp_content > ul > li > img {
  display: block;
  height: 4.666725rem;
  width: 100%;
  padding: 0 0.53334rem;
  box-sizing: border-box;
}
.mmp_content > ul > li > p {
  padding-left: 0.26667rem;
  font-weight: 600;
  font-weight: 0.320004rem;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  white-space: nowrap;
}
.mmp_content > ul > li .price {
  padding-top: 0.26667rem;
}
.mmp_content > ul > li .price > p {
  display: inline-block;
  padding-left: 0.26667rem;
  color: orange;
  font-size: 0.373338rem;
}
.mmp_content > ul > li .price > a {
  display: inline-block;
  float: right;
  width: 1.60002rem;
  height: 0.586674rem;
  background-color: orange;
  text-align: center;
  line-height: 0.586674rem;
  color: #fff;
  border-radius: 0.133335rem;
  margin-bottom: 0.133335rem;
  margin-right: 0.133335rem;
}
