.mmm_content .mmm_topbar .mmm_logo1 {
  width: 0.80001rem;
  height: 0.80001rem;
  float: left;
  padding-top: 0.26667rem;
  padding-left: 0.53334rem;
}
.mmm_content .mmm_topbar .mmm_logo1 > a {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_content .mmm_topbar .mmm_logo1 > a > img {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_content .mmm_topbar .mmm_logo_center {
  font-size: 0.53334rem;
  float: left;
}
.mmm_content .mmm_topbar .mmm_logo_center > p {
  color: #fff;
  line-height: 1.33335rem;
  padding-left: 2.13336rem;
}
.mmm_content .mmm_topbar .mmm_app {
  float: right;
}
.mmm_content .product > ul > li {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  width: 50%;
  float: left;
  height: 6.66675rem;
  padding: 0.26667rem;
  box-sizing: border-box;
}
.mmm_content .product > ul > li > a {
  display: block;
}
.mmm_content .product > ul > li > a > img {
  display: block;
  height: 4.00005rem;
  width: 4.53339rem;
}
.mmm_content .product > ul > li > a .discount_describe {
  color: #000;
  font-weight: 600;
}
.mmm_content .product > ul > li > a .discount_price {
  padding-top: 0.053334rem;
  color: #ff841d;
}
.mmm_content .product > ul > li > a .time_buying {
  padding-top: 0.133335rem;
  color: #ccc;
}
