.mmm_topbar .mmm_logo1 {
  width: 0.80001rem;
  height: 0.80001rem;
  float: left;
  padding-top: 0.26667rem;
  padding-left: 0.53334rem;
}
.mmm_topbar .mmm_logo1 > a {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_topbar .mmm_logo1 > a > img {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_topbar .mmm_logo_center {
  font-size: 0.53334rem;
  float: left;
}
.mmm_topbar .mmm_logo_center > p {
  color: #fff;
  line-height: 1.33335rem;
  padding-left: 2.13336rem;
}
.mmm_topbar .mmm_app {
  float: right;
}
.mmm_mian .mmp_content > li > a {
  display: block;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.mmm_mian .mmp_content > li > a .recommend_left {
  float: left;
  width: 2.40003rem;
  height: 2.800035rem;
  margin: 0.53334rem 0.26667rem;
}
.mmm_mian .mmp_content > li > a .recommend_left > img {
  display: block;
  width: 100%;
  height: 100%;
}
.mmm_mian .mmp_content > li > a .recommend_right {
  float: right;
}
.mmm_mian .mmp_content > li > a .recommend_right .describe {
  display: block;
  margin: 0.26667rem;
  width: 6.40008rem;
}
.mmm_mian .mmp_content > li > a .recommend_right .describe .recommend_describe {
  color: #000;
  font-size: 0.373338rem;
  font-weight: 400;
}
.mmm_mian .mmp_content > li > a .recommend_right .describe .cost {
  color: orange;
  font-size: 0.373338rem;
  font-weight: 400;
}
.mmm_mian .mmp_content > li > a .recommend_right .comment {
  margin: 0.26667rem;
  margin-top: 1.33335rem;
  color: #666;
}
.mmm_mian .mmp_content > li > a .recommend_right .comment .evaluate {
  float: right;
}
.choose {
  width: 100%;
  height: 2.000025rem;
  background-color: #fff;
}
.choose .previous_page,
.choose .next_page {
  width: 2.13336rem;
  height: 0.933345rem;
  border-radius: 0.133335rem;
  border: 1px solid #ccc;
  background-color: #e2e2e2;
  outline: medium;
}
.choose .previous_page {
  margin-left: 0.53334rem;
  margin-top: 0.26667rem;
}
.choose .next_page {
  margin-left: 0.80001rem;
}
.choose > select {
  margin-left: 0.80001rem;
  width: 2.266695rem;
  height: 0.80001rem;
  outline: medium;
}
